---
verbose: false
dryrun: false
create: "{{ not dryrun|bool }}"
update: "{{ not dryrun|bool }}"
upload: "{{ not dryrun|bool }}"
build: "{{ not dryrun|bool }}"

# Preserve ./build working directory
preserve: false

# Build expired releases (EOS/EOL)
expired: false

build_path: "{{ playbook_dir }}/../build"
log_path: "{{ build_path }}/build-{{ lookup('pipe', 'date +%Y%m%d%H%M%S') }}.log"

# Where to run guestfs-tools? (allowed values: guestmount, docker)
guestfs: docker

providers:
- virtualbox
- qemu
- libvirt

hcp_base_endpoint: 'https://api.cloud.hashicorp.com'
vagrant_cloud_api: "vagrant/2022-09-30"
vagrant_cloud_url: "{{ hcp_base_endpoint }}/{{ vagrant_cloud_api }}"
vagrant_cloud_user: "{{ lookup('env', 'VAGRANT_CLOUD_USER', default='cloud-image') }}"
vagrant_cloud_token: "{{ lookup('env', 'VAGRANT_CLOUD_TOKEN', default=Undefined) }}"
vagrant_ssh_default_key_pub: "{{ lookup('url', 'https://raw.githubusercontent.com/hashicorp/vagrant/refs/heads/master/keys/vagrant.pub') }}"
vagrant_ssh_key_pub: "{{ lookup('env', 'VAGRANT_SSH_KEY_PUB', default=vagrant_ssh_default_key_pub) }}"

# Mail alert
mail_password: "{{ lookup('env', 'MAIL_PASSWORD', default=Undefined) }}"
mail_username: "{{ lookup('env', 'MAIL_USERNAME', default=Undefined) }}"
mail_from: "{{ lookup('env', 'MAIL_FROM', default=Undefined) }}"
mail_to: "{{ lookup('env', 'MAIL_TO', default=Undefined) }}"
smtp_server: "{{ lookup('env', 'SMTP_SERVER', default=Undefined) }}"
smtp_port: "{{ lookup('env', 'SMTP_PORT', default=587) }}"
