datasource_list: [ NoCloud, None ]
ssh_pwauth: False
ssh_authorized_keys:
  # https://github.com/hashicorp/vagrant/tree/master/keys
  - '{{ vagrant_ssh_key_pub }}'
users:
  # Preserve default distro user
  - default
  # Create Vagrant user with disabled password
  - name: vagrant
    plain_text_passwd: vagrant
    doas: ["permit nopass vagrant"]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/sh
    lock_passwd: true
    ssh_authorized_keys:
      # https://github.com/hashicorp/vagrant/tree/master/keys
      - '{{ vagrant_ssh_key_pub }}'
