# {{ release.description }}

This is a Vagrant Box derived from the official Cloud Image without modification except for the Vagrant user injected using cloud-init configuration file.

## Usage

Install `libvirt` and/or `qemu` provider using the standard Vagrant plugin installation command:

```bash
vagrant plugin install vagrant-libvirt
vagrant plugin install vagrant-qemu
```

Create a minimal `Vagrantfile` file as follow:

```ruby
Vagrant.configure("2") do |config|
  config.vagrant.plugins = "vagrant-libvirt"
  #config.vagrant.plugins = "vagrant-qemu"

  config.vm.box = "{{ vagrant_cloud_user }}/{{ distro.name }}-{{ release.version }}"
  config.vm.synced_folder ".", "/vagrant", disabled: true
end
```

For further information, please refer to the [sources](https://github.com/alchemy-solutions/vagrant-cloud-images).
