# {{ release.description }}

This is a Vagrant Box derived from the official Cloud Image without modification except for the Vagrant user injected using cloud-init configuration file.

## Usage

Optionally install `libvirt` or `qemu` provider using the standard Vagrant plugin installation command:

```bash
vagrant plugin install vagrant-libvirt
<OR>
vagrant plugin install vagrant-qemu
```

{% include 'templates/vagrant.md.j2' %}

For further information, please refer to the [sources](https://github.com/alchemy-solutions/vagrant-cloud-images).
