---
# FIXME: on GitHub actions 'type' does not work 
#- command: type -p {{ item }}
- command: |
    {{ item }} --help
  changed_when: false
  failed_when: false
  register: command_check
  loop:
  - hcp
  - pup
  - qemu-img
  - "{{ guestfs }}"

- assert:
    that:
    - cmd.rc == 0
    quiet: true
    msg: "Command '{{ cmd.item }}' not found."
  loop: "{{ command_check.results }}"
  loop_control:
    loop_var: cmd
