---
- name: Build {{ distro.code }}-{{ release.code|default(release.version) }} releases
  set_fact:
    vagrant_box_name: "{{ distro.code }}-{{ release.code|default(release.version) }}"

- name: Refresh VAGRANT_CLOUD_TOKEN
  include_tasks: hcp.yaml

- name: Create Vagrant Box Registry for {{ vagrant_box_name }}
  when: not dryrun|bool
  uri:
    url: "{{ vagrant_cloud_url }}/registry/{{ vagrant_cloud_user }}/boxes"
    method: POST
    body_format: json
    return_content: true
    headers:
      Content-Type: application/json
      Authorization: "Bearer {{ vagrant_cloud_token }}"
    body:
      name: "{{ vagrant_box_name }}"
      short_description: "{{ release.description }} Cloud Image"
  register: hcp_create_box
  failed_when: hcp_create_box.status not in [200, 409]
  changed_when: hcp_create_box.status == 200

- name: Check expired release
  when: release_availability is defined
  set_fact:
    release_expred: "{{ not expired|bool and release.eol|default(release.eos)|is_expired }}"

- include_tasks: providers.yaml
  when:
  - not release_expred|default(false)
  - filter_arch is not defined or arch.name==filter_arch or arch.type==filter_arch
  loop: "{{ release.arch }}"
  loop_control:
    loop_var: arch
